<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="pages/login_2">LOGIN</a>
            <div class="navbar-header page-scroll">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link page-scroll" href="#page-top">Home</a></li>
                    <li><a class="nav-link page-scroll" href="#mean-product">Nosso Produto</a></li>
                    <li><a class="nav-link page-scroll" href="#team">Time</a></li>
                    <li><a class="nav-link page-scroll" href="#contact">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <h1>A melhor Proteção<br/>
                    para toda família<br/>
                    sem sair de casa<br/>
                </h1>
                <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one"></div>
    </div>
</div>

<section  class="container features" id="mean-product">
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Proteção nunca foi tão importante</h1>
    </div>
</div>
<div class="row features-block justify-content-between">
    <div class="col-lg-6 text-right wow fadeInRight">
        <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-fluid float-right">
    </div>
    <div class="col-lg-6 features-text wow fadeInLeft">
        <div class="d-flex justify-content-center">
          <h2>Feita com muito Carinho</h2>
        </div>
        <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
        <div class="d-flex justify-content-center">
          <a href="" class="btn btn-primary">Quero Comprar</a>
        </div>

    </div>
</div>
</section>

<section id="team" class="gray-section team">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Nosso Time</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 wow fadeInLeft">
            <div class="team-member">
                <img src="<%= image_path('landing/gabriel_avatar.jpg') %>" class="img-fluid rounded-circle img-small" alt="">
                <h4><span class="navy">Gabriel</span></h4>
                <p>Web developer responsável por disponibilizar a plataforma de compras online. </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-member wow zoomIn">
                <img src="<%= image_path('landing/dag_avatar.jpg') %>" class="img-fluid rounded-circle" alt="" style="width: 150px";>
                <h4><span class="navy">Dagmar</span></h4>
                <p>Dona da ideia e dos meios de produção. Com sua máquina de costura, linhas, agulhas e tesouras dá vida ao produto mais comentado na internet dos últimos tempos. </p>
            </div>
        </div>
        <div class="col-sm-4 wow fadeInRight">
            <div class="team-member">
                <img src="<%= image_path('landing/lila_avatar.jpg') %>" class="img-fluid rounded-circle img-small" alt="" style="object-fit: cover";>
                <h4><span class="navy">Lila</span></h4>
                <p>Marketing e divulgação. Se você foi informado sobre nossa existência agradeça a ela.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center m-t-lg m-b-lg">
            <p>Dedicação e trabalho em equipe que te ajudam a proteger você e sua família.</p>
        </div>
    </div>
</div>
</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn">
            <i class="fa fa-comment big-icon"></i>
            <h1>
                Recomendação do Ministério da Saúde
            </h1>
            <div class="testimonials-text">
                <i>O Ministério da Saúde orienta que, neste momento, as máscaras cirúrgicas ou N95 sejam deixadas para utilização apenas por profissionais da área da saúde. Máscaras de pano, por serem barreiras físicas, podem ser utilizadas pela população em geral como forma de proteção contra a COVID-19. Apesar disso, o Ministro e sua equipe afirma ainda que hábitos de higiene são os mais importantes para o combate à doença. Nunca se esqueça de, principalmente, LAVAR AS MÃOS!</i>
            </div>
        </div>
    </div>
</div>

</section>


<section id="contact" class="gray-section contact" style="margin-top: 0">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Entre em contato</h1>
        </div>
    </div>
    <div class="row m-b-lg justify-content-center">
        <div class="col-lg-3 ">
            <address>
                <strong><span class="navy">Company name, Inc.</span></strong><br/>
                colocar e-mail<br/>
                <abbr title="Phone">P:</abbr> (031) 9 8861 4680
            </address>
        </div>
        <div class="col-lg-4">
            <p class="text-color">
                Localizada em Betim, 35 Km da Capital Mineira!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="mailto:test@email.com" class="btn btn-primary">Nos encaminhe um e-mail</a>
            <p class="m-t-sm">
                Ou siga nossas redes sociais
            </p>
            <ul class="list-inline social-icon">
                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a>
                <li class="list-inline-item"><a href="#"><i class="fa fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>
</section>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
        $("#navbar").collapse('hide');
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();


    // Activate WOW.js plugin for animation on scrol
    new WOW().init();


});

</script>

<% end %>
