<footer class="bg-dark mt-5" style="height: 50px;">
    <div class="text-white d-flex align-items-center justify-content-center" style="height: 50px;">
        &copy 2019. All rights reserved.
    </div>
</footer>
