<p>Olá <%= @resource.email %>!</p>

<p>Foi solicitado um link de alteração de senha. Você pode realizar essa alteração por meio do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, por favor ignore este email.</p>
<p>Sua senha não mudará até que o link acima seja acessado e uma nova senha seja criada.</p>
