<div class="banner" >
  <div class="container">
    <h1><strong>Pessoas inteligentes</strong> em busca de <strong> novas habilidades</strong>!</h1>
    <p><span id="banner-typed-text"></span></p>
  </div>
</div>
