<header>
  <%= render 'pages/templates/template_2/shared/navbar' %>
</header>

<section class="py-5">
  <%= render 'pages/templates/template_2/landing_page/components/card_group' %>
</section>

<section class="py-5">
  <%= render 'pages/templates/template_2/landing_page/components/contact' %>
</section>

 <%= render 'pages/templates/template_2/shared/footer' %>
