<div class="container">
    <h4 class="text-uppercase font-weight-light text-center m-5">Sobre</h4>

    <div class="row">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <%= image_tag 'nomade_2_digital_home_page.jpg', class: 'd-block w-100', alt: 'desenvolvedor nomade digital' %>
        </div>
        <div class="col-12 col-md-6">
            <p class="lead">Aprender a codar, trabalhar como desenvolvedor de softwares, mais especificamente applicativos web, se tornar nômade digital. Sim, é difícil mas não é impossível e este trabalho é a prova disto. Ficou curioso e quer saber mais? Fácil, basta acompanhar. Se inscreva e seja informado de todas as postagens do blog, dos livros (em fase de criação), além de brincar com algumas ferramentas (Smart Apps) que irão facilitar o seu dia dia.
            </p>

            <button type="button" class="btn btn-success">Se Inscreva</button>
        </div>
    </div>
</div>
