<div class="container">
        <h5 class="text-uppercase font-weight-light text-center m-5">Products</h5>

        <div class="row">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1400x700" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1400x700" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1400x700" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
