<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to products_path, class: "navbar-brand" do %>
        <i class="fas fa-calculator"></i>
      <% end %>
    <% else %>
      <%= link_to "http://somarcapital.com.br/", class: "navbar-brand" do %>
        <i class="fas fa-calculator"></i>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>



