<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
    <title>Happy</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/page-landing.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo-icon.png">    
</head>

<body>
    <div id="page-landing">
        <div id="container">
            <header>
                <img 
                    class="animate-up"
                    id="logo" 
                    src="/images/logo.svg" 
                    alt="Logomarca de Happy"
                />
                <div class="location animate-up">
                    <strong>Rio do Sul</strong>
                    <p>Santa Catarina</p>
                </div>
            </header>
        
            <main>
                <h1 class="animate-up">Leve felicidade para o mundo</h1>
                <section class="visit">
                    <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>
                    <a href="/orphanages" title="Visite orfanatos" class="animate-up">
                        <img src="/images/arrow.svg"  alt="Ir para o mapa" />
                    </a>
                </section>
            </main>
        </div>
    </div>
</body>

</html>

<!--
NLW - PRIMEIRA AULA

    Diretório raiz = nwl_3
./ - diretório raiz
/images/ (caminho relativo - parte da raiz do documento)

Tag link rel="incon" para acrescentar um ícone ao lado esquerdo do título da página

Prestar atenção - Tag <head> do início da página é diferente da tag <header> dentro da tag <body> - as duas são algum cabeçalho
Tag <main> após tag <header> ou o conteúdo principal da página

.svg são arquivos poderosos, escritos em tags html, compatível com diferentes tamanhos de tela. Imagem qual qualidade muito boa.

tag <div> sao conteiners sem objetivos claros, são caixas

TAGS de DISPLAY BLOCK
comportamento padrão do html é colocar uma tag em baixo da outra - com exceção das tags com display do tipo bloco, colocando próximos
conteúdos abaixo, tags, header, p, div

display in line, não muda o próximo conteúdo para baixo, strong, por exemplo

atributo global "tittle" - exemplo de utilização no botão ir para o mapa, mostra o que será escrito ao passar o mouse
este atributo das tags também são importantes para os motores de busca

NLW - PRIMEIRA AULA
-->