<div class="container">
  <div class="d-flex">
    <div class="col-md customDiv">Coluna da Esquerda</div>
    <div class="col-md-8 customDiv">Coluna do Meio</div>
    <div class="col-md customDiv">Coluna da Direita</div>
  </div>
</div>
