<div class="container-fluid">
  <div class="d-flex justify-content-around">
    <div class="customDiv">.col-6 .col-md-4</div>
    <div class="customDiv">.col-6 .col-md-4</div>
    <div class="customDiv">.col-6 .col-md-4</div>
    <div class="customDiv">.col-6 .col-md-4</div>
    <div class="customDiv">.col-6 .col-md-4</div>
    <div class="customDiv">.col-6 .col-md-4</div>
    <div class="customDiv">.col-6 .col-md-4</div>
  </div>
</div>
