<%= render "shared/header.html" %>
<br>
<br>
<br>
<br>
<section class="container-fluid">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 col-md-12">
    <h1>Programa de Afiliados</h1>
    <p>Você sabia que pode ajudar o Blomia a se disseminar ainda mais rápido? Nós criamos para isso um programa de afiliados que ao participar, você indica e ajuda os mais variados tipos de estabelecimento a se inscrever e começar a utilizar a plataforma.</p>
    <p>E a parte melhor é que quanto mais as pessoas usarem o estabelecimento que você trouxe para sacar e depositar, mais você ganha.
    </p>
    <p>Se inscreva no formulário abaixo e entraremos em contato para além de explicar em detalhes, te dar todas as informações para aumentar a sua renda - começando amanhã mesmo. É simples e não custa nada para você.
    </p>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script>
    hbspt.forms.create({
    portalId: "7980222",
    formId: "5f75c15d-5884-4576-8cd8-4aad1821f084"
    });
    </script>
  </div>
</div>
</section>

<%= render "shared/footer.html" %>
