<%= render "shared/header.html" %>
<section class="container-fluid pt-5">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 col-md-12">

      <h1 class="pt-5">Ajuda</h1>
      <p>Aqui você encontra algumas dúvidas frequentes que tem como objetivo tirar todas as suas dúvidas. Caso a sua dúvida não se encontre abaixo, não deixe de entrar em contato com o nosso suporte.</p>

      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
      hbspt.forms.create({
      portalId: "7980222",
      formId: "d8c52d85-81de-4304-8705-e9edf63b46e8"
      });
      </script>

      <h3 class="pt-5">Dúvidas Gerais</h3>
      <div class="accordion accordion-style-3" id="accordion1">

      <!-- Card -->
      <div class="card">
      <div class="card-header">
      <h6>
      <a class="collapsed" href="#collapseOne" data-toggle="collapse">
      <i class="fe-icon-volume-2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>O Blomia é gratuito?
      </a>
      </h6>
      </div>
      <div class="collapse" id="collapseOne" data-parent="#accordion1">
      <div class="card-body">
      <div class="opacity-75">Sim. Não cobramos valor de assinatura ou mensalidade. Cobramos somente tarifas, mediante ao uso, pelo serviço que você utilizar, quando utilizar.</div>
      </div>
      </div>
      </div>

      <!-- Card -->
      <div class="card">
      <div class="card-header">
      <h6>
      <a class="collapsed" href="#collapseTwo" data-toggle="collapse">
      <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>O Blomia é um aplicativo?
      </a>
      </h6>
      </div>
      <div class="collapse" id="collapseTwo" data-parent="#accordion1">
      <div class="card-body">
      <div class="opacity-75">Sim. Disponível para Android. Desenvolvimentos futuros vão expandir o uso do Blomia para plataformas iOS e Web, fazendo com que você possa usar no seu iPhone ou qualquer navegador da sua escolha.</div>
      </div>
      </div>
      </div>

      <!-- Card -->
      <div class="card">
      <div class="card-header">
      <h6>
      <a class="collapsed" href="#collapseThree" data-toggle="collapse">
      <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>O Blomia tem para Android?
      </a>
      </h6>
      </div>
      <div class="collapse" id="collapseThree" data-parent="#accordion1">
      <div class="card-body">
      <div class="opacity-75">Sim. Está disponível gratuitamente na Playstore. Clique aqui para acessar e fazer o download do aplicativo.</div>
      </div>
      </div>
      </div>

      <!-- Card -->
      <div class="card">
      <div class="card-header">
      <h6>
      <a class="collapsed" href="#collapseFour" data-toggle="collapse">
      <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>O Blomia tem para iOS/iPhone?
      </a>
      </h6>
      </div>
      <div class="collapse" id="collapseFour" data-parent="#accordion1">
      <div class="card-body">
      <div class="opacity-75">Claro, acreditamos que todos devem ter acesso a um mundo financeiro mais fácil, rápido, boa, bonita e barata.</div>
      </div>
      </div>
      </div>

      <!-- Card -->
      <div class="card">
      <div class="card-header">
      <h6>
      <a class="collapsed" href="#collapseFive" data-toggle="collapse">
      <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>O Blomia é uma conta bancária?
      </a>
      </h6>
      </div>
      <div class="collapse" id="collapseFive" data-parent="#accordion1">
      <div class="card-body">
      <div class="opacity-75">Não. O Blomia não é uma conta bancária tradicional ou digital. Seu usuário no Blomia é apenas um usuário, mas vinculado ao seu CPF para você ter o máximo de segurança possível.</div>
      </div>
      </div>
      </div>

      <!-- Card -->
      <div class="card">
      <div class="card-header">
      <h6>
      <a class="collapsed" href="#collapseSix" data-toggle="collapse">
      <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>O Blomia é uma conta digital?
      </a>
      </h6>
      </div>
      <div class="collapse" id="collapseSix" data-parent="#accordion1">
      <div class="card-body">
      <div class="opacity-75">Não somos uma conta digital.. Bancos não prestam, apesar de ainda precisarmos deles por questões legais. Por isso temos um banco para colocar todo o dinheiro que está circulando pela nossa plataforma.</div>
      </div>
      </div>
      </div>

      <!-- Card -->
      <div class="card">
      <div class="card-header">
      <h6>
      <a class="collapsed" href="#collapseSeven" data-toggle="collapse">
      <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>Quais são os pontos de saque e depósitos do Blomia?
      </a>
      </h6>
      </div>
      <div class="collapse" id="collapseSeven" data-parent="#accordion1">
      <div class="card-body">
      <div class="opacity-75">Ver como responder isso.em todos os estabelecimentos que são nossos parceiros. temos farmácias, supermercados, mercadinhos, postos de gasolina, bancas de revista entre outros.</div>
      </div>
      </div>
      </div>

      <!-- Card -->
      <div class="card">
      <div class="card-header">
      <h6>
      <a class="collapsed" href="#collapseEight" data-toggle="collapse">
      <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>Como deposito dinheiro no Blomia?
      </a>
      </h6>
      </div>
      <div class="collapse" id="collapseEight" data-parent="#accordion1">
      <div class="card-body">
      <div class="opacity-75">Você tem 4 opções. Você pode ir em um estabelecimento e depositar em espécie. Outra opção é fazer o pagamento de um boleto. Mas você também pode colocar com um cartão de crédito. E por fim, pode fazer uma transferência.</div>
      </div>
      </div>
      </div>

      <!-- Card -->
      <div class="card">
      <div class="card-header">
      <h6>
      <a class="collapsed" href="#collapseNine" data-toggle="collapse">
      <i class="fe-icon-mic"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>É seguro usar o Blomia?
      </a>
      </h6>
      </div>
      <div class="collapse" id="collapseNine" data-parent="#accordion1">
      <div class="card-body">
      <div class="opacity-75">Sim. É mais seguro como seguro como deve ser. utilizamos os melhores sistemas de segurança do mundo e servidores que, ainda, nunca foram invadidos.</div>
      </div>
      </div>
      </div>
      </div>


















      <h3 class="pt-5">Custo</h3>
      <div class="accordion accordion-style-3" id="accordion2">

        <!-- Card -->
        <div class="card">
          <div class="card-header">
          <h6>
          <a class="collapsed" href="#collapseTwelve" data-toggle="collapse">
          <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>Quanto custa para ter o Blomia?
          </a>
          </h6>
          </div>
          <div class="collapse" id="collapseTwelve" data-parent="#accordion2">
          <div class="card-body">
          <div class="opacity-75">Nada. Basta baixar o aplicativo no seu celular, se cadastrar e começar a usar.</div>
          </div>
          </div>
        </div>

        <!-- Card -->
        <div class="card">
        <div class="card-header">
        <h6>
        <a class="collapsed" href="#collapseThirteen" data-toggle="collapse">
        <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>O Blomia tem assinatura?
        </a>
        </h6>
        </div>
        <div class="collapse" id="collapseThirteen" data-parent="#accordion2">
        <div class="card-body">
        <div class="opacity-75">Não temos assinatura. Você só terá custo com os serviços do Blomia se usar pouco e claro se não usar não tem custo.</div>
        </div>
        </div>
        </div>

        <!-- Card -->
        <div class="card">
        <div class="card-header">
        <h6>
        <a class="collapsed" href="#collapse14" data-toggle="collapse">
        <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>Quanto custa depositar com o Blomia?
        </a>
        </h6>
        </div>
        <div class="collapse" id="collapse14" data-parent="#accordion2">
        <div class="card-body">
        <div class="opacity-75">Vinte e cinco centavos (R$0,25). Se você só faz alguns depósitos por mês, cada depósito irá te custar apenas R$0,25 a unidade. Caso você realize outras operações, como pagar contas, ele pode até sair de graça.</div>
        </div>
        </div>
        </div>

        <!-- Card -->
        <div class="card">
        <div class="card-header">
        <h6>
        <a class="collapsed" href="#collapse15" data-toggle="collapse">
        <i class="fe-icon-clock"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>Quanto custa sacar com o Blomia?
        </a>
        </h6>
        </div>
        <div class="collapse" id="collapse15" data-parent="#accordion2">
        <div class="card-body">
        <div class="opacity-75">Vinte e cinco centavos (R$0,25). Se você só faz alguns saques por mês, cada saque irá te custar apenas R$0,25 a unidade. Caso você realize outras operações, como pagar contas, ele pode até sair de graça.</div>
        </div>
        </div>
        </div>

              <!-- Card -->
      <div class="card">
      <div class="card-header">
      <h6>
      <a class="collapsed" href="#collapse16" data-toggle="collapse">
      <i class="fe-icon-mic"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg></i>Posso usar sem ter celular?
      </a>
      </h6>
      </div>
      <div class="collapse" id="collapse16" data-parent="#accordion2">
      <div class="card-body">
      <div class="opacity-75">Não. Por uma questão de segurança estamos disponibilizando inicialmente apenas para celulares.</div>
      </div>
      </div>
      </div>
      </div>





      </div>

  </div>
</div>
</section>

<%= render "shared/footer.html" %>































































