<%= render "shared/header.html" %>
<br>
<br>
<br>
<br>
<section class="container-fluid">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 col-md-12">
    <h1>Para Empresas</h1>
    <p></p>
  </div>
</div>
</section>

<%= render "shared/footer.html" %>
