<%= render "shared/header.html" %>
<br>
<br>
<br>
<br>
<section>
  <div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 col-md-12">
  <h1>Política de Privacidade</h1>
  <p>Privacidade é oferecer a confidencialidade que você exige ao compartilhar seus dados, dessa forma, a proteção de suas informações pessoais é primordial no que fazemos.</p>
  <p>Nossa Política de Privacidade explica como tratamos as informações que você nos envia ao usar o aplicativo/site e caso não concorde com algum ponto a seguir, você deve interromper o uso dos nossos serviços imediatamente:</p>
  <ul>
    <li>Os dados fornecidos por você ao criar sua conta ou utilizar o aplicativo são armazenados e processados em servidores protegidos; Todos os dados transmitidos no Blomia são criptografados com a mais alta segurança. Implementamos medidas técnicas, administrativas e físicas para proteger seus dados pessoais contra o uso, acesso, intervenção ou destruição não autorizado;</li>
    <li>Ao se cadastrar você autoriza que suas informações cadastrais, financeiras, o código de identificação do seu aparelho celular e sua geolocalização sejam coletados, armazenados e compartilhados visando a oferta de produtos e realização de serviços do seu interesse inclusive por meio de parceiros do Blomia ou sempre que forem exigidos por órgãos públicos e/ou reguladores;</li>
    <li>Ao cadastrar seu endereço de email e telefone, você autoriza receber os e-mails e sms que serão enviados regularmente pelo Blomia. Seu endereço de email e telefone serão usado apenas para envio de e-mails e sms transacionais, informativos e promocionais;</li>
  </ul>
  <p>Como essa política está sujeita à alterações aconselhamos que você a consulte periodicamente.</p>
  <p>Última alteração em 1 de maio de 2020.</p>
</div>
</div>
</div>
</section>

<%= render "shared/footer.html" %>
