<%= render "shared/header.html" %>
<br>
<br>
<br>
<br>
<section class="container-fluid">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 col-md-12">
    <h1>Trabalhe Conosco</h1>
    <p>O Blomia é uma empresa inovadora não apenas no seu produto. Queremos inovar também na forma que trabalharmos - e principalmente na forma que trazemos mais pessoas para o nosso time.</p>
    <p>O padrão em quase toda empresa é abrir um processo seletivo para algumas poucas vagas e quase que aleatoriamente eliminar algumas pessoas da lista até chegar em algumas poucas que vão fazer uma entrevista. Depois seguem testes altamente questionáveis que tentam colocar todo mundo em modelos pré-definidos que não capturam a riqueza e individualidade de cada pessoa.
    <p>No Blomia é mais simples. Talvez mais fácil para alguns. Talvez mais difícil para outros.</p>
    <p>Queremos trabalhando ao nosso lado pessoas com iniciativa. Então a forma de trabalhar no Blomia é procurando alguém que já trabalha aqui com a gente e convencer essa pessoa a propor a sua contratação.</p>
    <p>Essa pessoa então vai poder conversar com você e ver o que acha mais importante destacar e fazer a sua defesa para a nossa equipe.</p>
    <p>Viu como é simples? Quão mais convincente você for, mais fácil será trabalhar aqui.</p>
    <p>E além do mais, quanto mais pessoas estiverem trabalhando aqui, mais pessoas você terá para falar. Não vai mais virar um curriculo qualquer e não ter outra opção para recorrer. É igual aquelas pessoas que querem tentar entrar pra sua família de qualquer jeito tentando namorar algum primo ou prima.</p>
    <p>Boa sorte!</p>
  </div>
</div>
</section>

<%= render "shared/footer.html" %>
