<%= render 'shared/navbar' %>

<section class="py-5">
  <div class="container">
    <h2 class="text-uppercase font-weight-light text-center mt-5 mb-0">Codei! Uma epopéia em busca de seu nômade digital.</h2>
    <h3 class="text-uppercase font-weight-light text-center mt-5 mb-0">Página em Construção</h3>
    <h4 class="text-uppercase font-weight-light text-center mt-5 mb-0">Quer ser o primeiro a saber? Deixe seu contato!</h4>
  </div>
</section>
<%= render 'components/contact' %>
<%= render 'shared/footer' %>

